body {
  margin: 0;
  font-family: sans-serif;
  cursor: none;
}
#commands {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffa1;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: default;
}

#commands.minimized {
  display: none;
}

#commands #btn-close {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  box-shadow: none;
}

#commands h2 {
  margin-top: 0;
  text-align: center;
}

#commands #btn-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#commands #btn-list button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px #000000a1;
  transition: all 0.2s ease-in-out;
}

#commands #btn-list button:hover {
  background-color: #eaeaea;
  box-shadow: none;
}

#commands ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#commands kbd {
  background-color: #eaeaea;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #000000a1;
}

#btn-open {
  font-size: 2em;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 1/1;
  width: 50px;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 5px #000000a1;
  transition: all 0.2s ease-in-out;
}

#btn-open.hidden {
  display: none;
}
